.DS_Store
.svn
*~
.*.swp
\#*\#
.elc
.class 
/zsh/zsh
/dump.rdb
/zsh/site-functions/
/mac/karabiner.d/log/console_user_server_log.txt
/mac/karabiner.d/karabiner.d
/mac/karabiner/assets/*
/mac/applescript/EmacsClient.app/
/mac/applescript/EmcacClientOpenWith-InIterm2.app/
/mac/karabiner/automatic_backups/*.json
/zaw/zaw
/go.mod
/go.sum
/mac/fish/fish
