# sudo chmod g+s /usr/bin/keyd
# sudo chmod u+s /usr/bin/keyd
    
[Unit]
Description=key remapping daemon
#Requires=local-fs.target
#After=local-fs.target

[Service]
Type=simple
ExecStart=/usr/bin/keyd

[Install]
WantedBy=default.target
#WantedBy=sysinit.target
