[Unit]
Description=Run xremap 
BindsTo=sway-session.target
# # After=network.target
# After=udevmon.service
# DefaultDependencies=no

[Service]
Type=simple
# User=jixiuf
# Group=users
Restart=always
ExecStartPre=sleep 3
ExecStart=/usr/local/bin/xremap  /etc/xremap.yaml --watch

[Install]
WantedBy=sway-session.target
