# /etc/systemd/system/xremap.service
# sudo systemctl enable --now xremap
# sudo systemctl restart xremap
# journalctl -u xremap


[Unit]
Description=Run xremap 
# DefaultDependencies=no
# After=network.target

[Service]
# Type=simple
Restart=always
User=jixiuf
Group=users
ExecStartPre=sleep 2
ExecStart=/usr/local/bin/xremap  /etc/xremap.yaml --watch
# TimeoutStartSec=0
# RemainAfterExit=yes

[Install]
WantedBy=default.target
