# /etc/systemd/system/udevmon.service
# sudo systemctl enable --now xremap
# sudo systemctl restart xremap
# journalctl -u xremap
  
[Unit]
Description=Run xremap 
# DefaultDependencies=no
# After=network.target

[Service]
# Type=simple
Restart=always
User=jixiuf
Group=jixiuf
ExecStart=sh -c 'sleep 5;/home/jixiuf/.cargo/bin/xremap  /home/jixiuf/.config/xremap.yaml --watch'
# TimeoutStartSec=0
# RemainAfterExit=yes

[Install]
WantedBy=default.target
